body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(243, 219, 159);
}

.container {
  max-width: 80%;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-left: 5%;
  color: orangered;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
}

ul {
  list-style-type: none;
  padding: 0;
  justify-self: center;
  max-width: 50%;
  margin: 0 auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  color: darkslateblue;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #ff5757;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(79, 75, 75);
  border-radius: 5px;
}

button:hover {
  background-color: #ff4343;
  transform: scale(1.1);
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #6a9fdb;
}
